.App {
  background-color: rgb(82, 82, 82, 0.5);
  height: 100vh;
  position: relative;
}

.currentCity {
  position: absolute;
  width: 350px;
  height: 75px;
  left: 120px;
  top: 254px;

  font-family: "Work Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 75px;
  /* identical to box height */

  letter-spacing: 0.05em;

  color: #ffffff;

  mix-blend-mode: normal;
}

.todayDate {
  position: absolute;
  width: 167px;
  height: 23px;
  left: 120px;
  top: 339px;

  font-family: "Work Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.05em;

  color: #ffffff;

  mix-blend-mode: normal;
}
